<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="okta:ClientId" value="ViczvMucBWT14qg3lAM1"/>
    <add key="okta:OIDC_Issuer" value="https://example.oktapreview.com"/>
    <add key="okta:OAuth_Issuer" value="https://example.oktapreview.com/as/ors71yywxk0GfFWmC0h7"/>
    <!-- The IDorAccessToken parameter indicates whether you will use the ID token or the Access Token as a way to validate the user. This is important because the 
    the issuer value is different. Possible values for this parameter are "id" or "access" -->
    <add key="okta:IDorAccessToken" value="access"/>
  </appSettings>
</configuration>