<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Replace the value of the following key to your Okta tenant full url, such as https://companyname.okta.com or https://dev-XXXX.oktapreview.com -->
    
    <add key="okta:TenantUrl" value="https://tenantname.oktapreview.com" />

    <!-- Set the value of the following key with the id value of your Okta OpenID Connect client  -->

    <add key="okta:ClientId" value="" />
  </appSettings>
</configuration>